.filters-wrapper {
  padding: 10px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;

}

.filter-btn-wpapper {
  display: flex;
  justify-content: space-around;
}

.filter-group-checkbox {
  max-height: 115px;
  overflow-y: scroll;
}

.filter-group__title {
  margin: 0 0 10px;
}

.filter-group {
  padding: 20px 0;
  border-bottom: 1px solid var(--main-border-color);
}

.filter-btn-wpapper {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-border-color);
}

.filters-wrapper > .filter-group:last-child {
  border-bottom: none;
}