.btn_default {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #343e46;
  background: var(--yellow);
  border: none;
  border-radius: 25px;
  transition: all .35s ease;
  cursor: pointer;
}

.product-card__btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 11px;
  background-color: var(--yellow);
}

.btn_default:hover {
  background-color: #e8c812;
}

.btn_active {
  background-color: #95dd1a;
}