.products {
  margin: 0 10px;
  width: 70%;
}

.product-card {
  margin: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: aliceblue;
}

.products-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
