.products {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 75%;
}

.products-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc((100% - 40px) / 4);
  margin: 5px;
  padding: 10px;
  min-width: 150px;
  border: 1px solid #ece5e5;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  box-shadow: #10101029 0px 1px 4px;
  transition: all .25s;
}

.product-card:hover {
  border-color: #c2baba;
  box-shadow: #10101029 3px 3px 4px;
}

.product-card__title{
  display: inline-block;
  max-width: 100%;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.product-card > div {
  font: 14px;
  margin: 2px 0;
}

.product-card__img {
  margin: 10px 0;
  max-width: 100%;
  max-height: 180px;
  border-radius: 10px;
}

.product-card__name-group {
  margin-right: 3px;
  font-weight: 600;
}

.product-card__price {
  font-size: 22px;
  font-weight: 600;
}

.product-card__buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-card__img-cart {
  width: 25px;
  height: 25px;
}

.product-card__info-item {
  display: flex;
}

.product-card__title-group {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
