::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  background-color: var(--main-bg-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-border-color);
  border-radius: 5px;
  
}