header {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 20px;
}
.basket-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
}
#basket{
  position: relative;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  margin-right: 15px;
}
.basket-count {
  position: absolute;
  top: 21px;
  left: 12px;
  display: flex;
  justify-content: center;
  width: 25px;
  color: #343e46;
  background: var(--yellow);
  border: none;
  border-radius: 50%;
  transition: all 0.35s ease;
  cursor: pointer;
}
.header_container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header_cost {
  
}
.header_logo {
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #343e46;
  text-decoration: none;
}