.footer-wrapper23 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 10px 10px 0 0;
  background-color: #f1f1f1;
}

.footer-title22 {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #f1f1f1;
  font-size: 1.5rem;
  border-radius: 10px 10px 0 0;
}

.nav-social {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-link__logo {
  display: inline-block;
  border-radius: 50%;
}

.social-link:hover {
  color: #e9df22;
  transition: .5s;
}

.nav-social:hover {
  cursor: pointer;
}

.nav-social:hover 
.social-link {
  color: #e9df22;
  transition: .5s;
}

.nav-social:hover {
  background-color: #e9df22;
  transition: .5s;
}

.logo-rs-school {
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logo-rs-school:hover {
  background-color: #e9df22;
  transition: .5s;
}