.nav-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}

.nav__link:visited {
  color: black;
}

.nav__link {
  text-decoration: none;
  color: black;
  cursor: default;
}

.nav__link_store {
  cursor: pointer;
}